.datasets {
  @include margin(64, top);
  h3 {
    @include margin(8, top);
    a {
      color: black;
    }
  }
}

.state-dropdown {
  display: none;
  @media (min-width: $viewport-lg) {
    display: block;
    @include margin(16, top);
  }
}
